.shopping-form {
  $bottom-height-sm: $input-group-height-sm + $input-group-margin-sm * 2;

  .product-list,
  .input-group {
    border: 1px solid $border;
  }

  .product-list {
    @include no-scrollbar;
    height: calc(100vh - #{$gnb-height-sm} - #{$bottom-height-sm});
    padding: 8px 0;
  }

  .input-group {
    @include flexbox(start);
    padding: 12px;
    margin: $input-group-margin-sm 0;

    input {
      height: 40px;
      margin-right: 8px;
      background-color: $white;
    }

    .submit-button {
      width: 40px;
      color: $dark;
      transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

      i {
        transform: translate(-2px);
      }
    }
  }

  @include responsive(T) {
    $bottom-height-md: $input-group-height-md + $input-group-margin-md * 2;

    .product-list {
      height: calc(100vh - #{$gnb-height-md} - #{$bottom-height-md});
      padding: 16px 0;
    }

    .input-group {
      padding: 24px;
      margin: $input-group-margin-md 0;

      input {
        @include text-style(16, $dark);
        padding: 0 16px;
        margin-right: 16px;
      }

      .submit-button {
        width: 54px;
      }
    }
  }

  @include responsive(D) {
    .input-group {
      .submit-button:hover {
        color: $white;
        background-color: $blue-light;
      }
    }
  }
}
